
@import "_mixins.scss";
@mixin flexbox() {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; font-size: 0;}
@mixin inline-flex() {display: -webkit-inline-box;display: -moz-inline-box;display: -webkit-inline-flex;display: -ms-inline-flexbox;display: inline-flex;}

// Файл обнуляющих стилей
@import "_nullstyle.scss";
@import "_form.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
$fontfamily:"Lato";

.wrapper{width: 100%; min-height: 100%;
    @include flexbox();
    flex-direction: column;
    &.loaded{};
}

.mainBlock {
    height: 100vh;
    padding: 50px 0;
    flex: 1 1 auto;
    position: relative;
    background: url(/img/BG-Header.jpg);
    background-position: left;
    background-repeat: no-repeat;
    //background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @include flexbox();
    justify-content: center;
    //align-items: center;
    text-align: center;

    &__contetn {
        position: relative;
        z-index: 1;
       // height: 100%;
        flex: 1 1 auto;
        .container {
            height: 100%;
            @include flexbox();
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        } 
    }


    &__text {
        color: #ffffff;
        position: relative;
        padding-bottom: 45px;
        margin: 1% 0 1% 0;
        &:after{
            content: '';
            background-color: #ffffff;
            width: 105px;
            height: 2px;
            position: absolute;
            left: 50%;
            margin: 0px 0px 0px -52.5px ;
            bottom: 0px;
        }
    }
    &__title {
        font-weight: 900;
        font-size: 34px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5.43px;
        margin-bottom: 10px;
        @media (max-width: 400px){
            font-size: 24px;
            line-height: 20px;
        }

        }
    
    &__subtitle {
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 4.15px;
        @media (max-width: 400px){
            font-size: 18px;
            line-height: 20px;
        }
    }

    &__footer {
        @include inline-flex();
        flex-direction: column;
    }

    &__arrow {
        margin-top: 20%;
        margin-bottom: 25%;
        position: relative;
        animation: arrow 2s infinite ease;
    }
}
@keyframes arrow{
    0%{top: 0}
    50%{top: 10px}
    100%{top: 0}
}
//======================================================================================================
.content
//======================================================================================================
.menu {
    padding: 22px 0px;
    border: 1px solid #f2f2f2;
    
    &__list {
        @include flexbox();
        justify-content: center;
        align-items: center;
    }

    &__link {
        color: #3c3c3c;
        font-family: Lato;
        font-size: 15px;
        text-transform: uppercase;
        margin: 0px 25px;
        @media (max-width: 767px) {
            margin: 0px 5px;
        }
        @include anim(0.3s, 0s)
        &:hover{
            color: #ada074;

        }
        &_act {
            color: #ada074;
        }
    }
}

//======================================================================================================
.about {
    padding: 0px 0px 60px 0px;


    &__header-block {
        margin: 0px 0px 65px 0px;
    }

    &__subtitle {
        max-width: 688px;
        color: #868585;
        font-size: 14px;
        font-weight: 300;
        line-height: 25.89px;
        text-align: center;
        margin: 65px auto 0px auto;
    }

    &__row {
        @include flexbox();
        margin: 0px -15px;
        @media (max-width: 550px){
            flex-direction: column;
        }
    }

    &__column {
        margin: 0px 0px 30px 0px;
        flex: 0 1 33.333%;
        padding: 0px 15px;
    }
}
.container {
    font-family: "Lato";
    max-width: 823px;
    margin: 0px auto;
}
.header-block {

    &__title {
        margin-top: 55px;
        font-size: 34px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 8.95px;
        position: relative;
        padding: 0px 0px 40px 0px;
        &:after{
            content: '';
            position: absolute;
            height: 1px;
            width: 16%;
            background-color: #000;
            left: 42%;
            bottom: 0;
        }
    }
}
.item-about {
    //text-align: center;
    //max-width: 900px;

    &__icon {
        margin: 15px auto;
        width: 92px;
        height: 92px;
        border: 3px solid #f1f1f1;
        border-radius: 50%;
        @include flexbox();
        align-items: center;
        justify-content: center;
        &_l {
            img {
                position: relative;
                left: 4px;
            }
        }
    }   

    &__title {
        color: #000000;
        font-family: Lato;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 3.52px;
        margin: 37px 0px 35px 0px;
    }

    &__text {
        color: #868585;
        font-family: Lato;
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
        text-align: center;
    }
}
//======================================================================================================

.portfolio {

    &_items {
        @include flexbox;
        margin: 0px -15px;
        flex-wrap: wrap;
    }

    &__column {
        flex: 0 1 50%;
        padding: 10px 15px;
    }

    &__item {
        img{max-width: 100%;}
    }

    &__footer {
        text-align: center;
        margin: 30px auto;
    }
}

.filter {

    padding: 22px 0px;

    &__list {
        @include flexbox();
        justify-content: center;
        align-items: center;

    }

    &__item {
        color: #3c3c3c;
        font-family: Lato;
        font-size: 15px;
        text-transform: uppercase;
        margin: 40px 25px;
        cursor: pointer;
        @include anim(0.3s, 0s)
        &:hover{
            color: #ada074;
        }
        &.active {
            color: #ada074;
        }
    }
}

//======================================================================================================

.partners {
    background: url('../img/BG-footer.jpg') center / cover no-repeat;

    &__title {
        color: #ffffff;
        font-family: "Lato";
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        letter-spacing: 1.8px;
        padding: 35px 0px;
    }

    &__items {

    }

    &__column {

        @include flexbox();
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 0 1 25%;
        padding: 35px 0px;

    }

    &__item {
        margin: 0vw 5vw;
    }
    
}
//======================================================================================================